{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>COVID INFO</title>
    <link rel="stylesheet" href="{% static 'covid/css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
      integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
      integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navbar -->
    <header class="he1">
      <nav class="navbar navbar-toggleable-md navbar-inverse">
        <a class="navbar-brand" href="{% url 'covid:index' %}">COVID</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'covid:support' %}">Support</a>
            <a
              class="nav-item nav-link"
              href="https://www.cowin.gov.in/home"
              target="_blank"
              >COWIN</a
            >
            <a class="nav-item nav-link" href="{% url 'covid:upload' %}"
              >COVID Testing</a
            >
          </div>
        </div>
      </nav>
    </header>
    <section class="aboutCovid">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">What is COVID?</h1>
          <br />
          <p class="lead">
            Coronavirus disease 2019 (COVID-19), also known as the coronavirus,
            or COVID, is a contagious disease caused by severe acute respiratory
            syndrome coronavirus 2 (SARS-CoV-2). The first known case was
            identified in Wuhan, China, in December 2019. The disease has since
            spread worldwide, leading to an ongoing pandemic.
            <br /><br />
            Symptoms of COVID-19 are variable, but often include fever,cough,
            headache, fatigue, breathing difficulties, and loss of smell and
            taste. Symptoms may begin one to fourteen days after exposure to the
            virus. At least a third of people who are infected do not develop
            noticeable symptoms. Of those people who develop noticeable symptoms
            enough to be classed as patients, most (81%) develop mild to
            moderate symptoms (up to mild pneumonia), while 14% develop severe
            symptoms (dyspnea, hypoxia, or more than 50% lung involvement on
            imaging), and 5% suffer critical symptoms (respiratory failure,
            shock, or multiorgan dysfunction). Older people are at a higher risk
            of developing severe symptoms.
            <br /><br />
            Some people continue to experience a range of effects (long COVID)
            for months after recovery, and damage to organs has been observed.
            Multi-year studies are underway to further investigate the long-term
            effects of the disease. Transmission of COVID-19 occurs when people
            are exposed to virus-containing respiratory droplets and airborne
            particles exhaled by an infected person. Those particles may be
            inhaled or may reach the mouth, nose, or eyes of a person through
            touching or direct deposition (i.e. being coughed on).
            <br /><br />
            The risk of infection is highest when people are in close proximity
            for a long time, but particles can be inhaled over longer distances,
            particularly indoors in poorly ventilated and crowded spaces. In
            those conditions small particles can remain suspended in the air for
            minutes to hours. Touching a contaminated surface or object may lead
            to infection although this does not contribute substantially to
            transmission. People who are infected can transmit the virus to
            another person up to two days before they themselves show symptoms,
            as can people who do not experience symptoms. People remain
            infectious for up to ten days after the onset of symptoms in
            moderate cases and up to twenty days in severe cases.
          </p>
        </div>
      </div>
    </section>
    <section class="transmission">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Transmission</h1>
          <br />
          <p class="lead">
            The virus is transmitted mainly via the respiratory route, when
            people inhale droplets and particles that infected people release as
            they breathe, talk, cough, sneeze or sing. The closer people
            interact, and the longer they interact, the more likely they are to
            transmit COVID-19, but infection can occur over longer distances,
            particularly indoors. People are at their peak of infectiousness
            when their symptoms start, and are infectious for up to 3 days prior
            to this. Their infectiousness declines after the first week, but
            they remain contagious for up to 20 days, and can spread the virus
            even if they never developed any symptoms.
            <br /><br />
            The size of the infectious particles is on a continuum, ranging from
            small airborne particles that remain suspended in the air for long
            periods, to larger droplets that may remain airborne or fall to the
            ground. This continuum between droplets and aerosols has redefined
            the traditional understanding of how respiratory viruses transmit.
            The largest droplets do not travel far, and the fine particles are
            in highest concentration when people are in close proximity,
            therefore the virus is more likely to transmit when people are
            physically close. Airborne transmission at longer distances mainly
            occurs in locations that are poorly ventilated (such as restaurants,
            choirs, gyms, nightclubs, offices, and religious venues). In those
            conditions small particles can remain suspended in the air for
            minutes to hours.
            <br /><br />
            The number of people generally infected by one infected person
            varies; with only 10 to 20% of people responsible for the diseases
            spread. However, in September 2020 it was estimated that one
            infected person will, as a crude average, infect between two and
            three other people. This is more infectious than influenza, but less
            so than measles. It often spreads in clusters, where infections can
            be traced back to an index case or geographical location. There is a
            major role of "super-spreading events", where many people are
            infected by one person.
          </p>
        </div>
      </div>
    </section>
    <section class="mortality">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Mortality</h1>
          <br />
          <p class="lead">
            Several measures are commonly used to quantify mortality. These
            numbers vary by region and over time and are influenced by the
            volume of testing, healthcare system quality, treatment options,
            time since the initial outbreak, and population characteristics such
            as age, sex, and overall health. The mortality rate reflects the
            number of deaths within a specific demographic group divided by the
            population of that demographic group. Consequently, the mortality
            rate reflects the prevalence as well as the severity of the disease
            within a given population.
            <br /><br />
            Mortality rates are highly correlated to age, with relatively low
            rates for young people and relatively high rates among the elderly.
            In fact, one relevant factor of mortality rates is the age structure
            of the countries’ populations. For example, the case fatality rate
            for COVID-19 is lower in India than in the US since India's younger
            population represents a larger percentage than in the US. The case
            fatality rate (CFR) reflects the number of deaths divided by the
            number of diagnosed cases within a given time interval. Based on
            Johns Hopkins University statistics, the global death-to-case ratio
            is 2.1% (3,475,817/167,411,409) as of 25 May 2021.
            <br /><br />
            The number varies by region. The CFR may not reflect the true
            severity of the disease, because some infected individuals remain
            asymptomatic or experience only mild symptoms, and hence such
            infections may not be included in official case reports. Moreover,
            the CFR may vary markedly over time and across locations due to the
            availability of live virus tests.
          </p>
        </div>
      </div>
    </section>
    <section class="oanimals">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Does is affect animals?</h1>
          <br />
          <p class="lead">
            Humans appear to be capable of spreading the virus to some other
            animals, a type of disease transmission referred to as
            zooanthroponosis. Some pets, especially cats and ferrets, can catch
            this virus from infected humans.Symptoms in cats include respiratory
            (such as a cough) and digestive symptoms. Cats can spread the virus
            to other cats, and may be able to spread the virus to humans, but
            cat-to-human transmission of SARS-CoV-2 has not been proven.
            Compared to cats, dogs are less susceptible to this infection.
            Behaviors which increase the risk of transmission include kissing,
            licking, and petting the animal. The virus does not appear to be
            able to infect pigs, ducks, or chickens at all. Mice, rats, and
            rabbits, if they can be infected at all, are unlikely to be involved
            in spreading the virus.
            <br /><br />
            Tigers and lions in zoos have become infected as a result of contact
            with infected humans. As expected, monkeys and great ape species
            such as orangutans can also be infected with the COVID-19 virus.
            Minks, which are in the same family as ferrets, have been infected.
            Minks may be asymptomatic, and can also spread the virus to humans.
            Multiple countries have identified infected animals in mink farms.
            Denmark, a major producer of mink pelts, ordered the slaughter of
            all minks over fears of viral mutations. A vaccine for mink and
            other animals is being researched.
          </p>
        </div>
      </div>
    </section>
    <section class="cvacc">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Vaccine Development</h1>
          <br />
          <p class="lead">
            A COVID‑19 vaccine is a vaccine intended to provide acquired
            immunity against severe acute respiratory syndrome coronavirus 2
            (SARS‑CoV‑2), the virus causing coronavirus disease 2019 (COVID‑19).
            Prior to the COVID‑19 pandemic, there was an established body of
            knowledge about the structure and function of coronaviruses causing
            diseases like severe acute respiratory syndrome (SARS) and Middle
            East respiratory syndrome (MERS), which enabled accelerated
            development of various vaccine technologies during early 2020. On 10
            January 2020, the SARS-CoV-2 genetic sequence data was shared
            through GISAID, and by 19 March, the global pharmaceutical industry
            announced a major commitment to address COVID-19. In Phase III
            trials, several COVID‑19 vaccines have demonstrated efficacy as high
            as 95% in preventing symptomatic COVID‑19 infections.
            <br /><br />
            As of April 2021, 16 vaccines are authorized by at least one
            national regulatory authority for public use: two RNA vaccines
            (Pfizer–BioNTech and Moderna), seven conventional inactivated
            vaccines (BBIBP-CorV, CoronaVac, Covaxin, WIBP-CorV, CoviVac,
            Minhai-Kangtai and QazVac), five viral vector vaccines (Sputnik
            Light, Sputnik V, Oxford–AstraZeneca, Convidecia, and Johnson &
            Johnson), and two protein subunit vaccines (EpiVacCorona and
            RBD-Dimer). In total, as of March 2021, 308 vaccine candidates are
            in various stages of development, with 73 in clinical research,
            including 24 in Phase I trials, 33 in Phase I–II trials, and 16 in
            Phase III development.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
